@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Admin - Genres";
}

 <h5>Add new genre</h5>
<form method="post" asp-controller="Admin" asp-action="CreateGenre">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="text" class="form-control" name="genreName">
    </div>

    <button type="submit" class="btn btn-primary">Add genre</button>
</form>


