@{
}
    <h5>Add new author</h5>
<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input type="text" class="form-control" name="title">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Description</label>
        <input type="text" class="form-control" name="description">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Image Path</label>
        <input type="text" class="form-control" name="imgpath">
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Author name</label>  @* CLEAN SEARCH STRING*@
        <input type="text" class="form-control" name="authorName">
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Genre</label> @*// DROP DOWN med alla genres.*@
        <input type="text" class="form-control" name="imgpath">
    </div>


    <button type="submit" class="btn btn-primary">Add book</button>
</form>

<br /> <hr /> <br />

    <h5>Add new book</h5>
    <p><em>Author must be added first if the books author don't already exists!</em></p>
<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input type="text" class="form-control" name="title">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Description</label>
        <input type="text" class="form-control" name="description">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Image Path</label>
        <input type="text" class="form-control" name="imgpath">
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Author name</label>  @* CLEAN SEARCH STRING*@
        <input type="text" class="form-control" name="authorName">
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Genre</label> @*// DROP DOWN med alla genres.*@
        <input type="text" class="form-control" name="imgpath">
    </div>


    <button type="submit" class="btn btn-primary">Add book</button>
</form>
