@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Admin - Books";
}       

<h5>Add new author</h5>
<form method="post" asp-controller="Admin" asp-action="CreateBook">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input type="text" class="form-control" name="title">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Description</label>
        <input type="text" class="form-control" name="description">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">ISBN</label>
        <input type="text" class="form-control" name="isbn">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Image Path</label>
        <input type="text" class="form-control" name="imgpath">
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Author firstname</label>  @* CLEAN SEARCH STRING*@
        <input type="text" class="form-control" name="authorFirstName">
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Author lastname</label>  @* CLEAN SEARCH STRING*@
        <input type="text" class="form-control" name="authorLastName">
    </div>

    <div class="mb-3">
        @if (ViewBag.genreList != null)
        {
            <select class="form-select" aria-label="Choose genre" name="genreSelect" id="genre-dropdown">
                <option selected>Choose genre</option>
                @foreach (var genre in (List<Genre>)ViewBag.genreList)
                {
                    <option value="@genre.Id">@genre.Name</option>
                }
            </select>
        }
                        
    </div>

    <button type="submit" class="btn btn-primary">Add book</button>
</form>


<br /><hr /><br />

<h5>Delete books</h5>
<form method="Post" asp-controller="Admin" asp-action="GetBookToDelete">

    <div class="mb-3">
        <label for="bookTitle" class="form-label">Book title</label>
        <input type="text" class="form-control" name="title">
    </div>

    <button type="submit" class="btn btn-primary">Find book</button>
</form>

<h6>Show books alphabetically</h6>
<form method="Get" asp-controller="Admin" asp-action="ViewBooks">
    <button type="submit" class="btn btn-primary">Get all books</button>
</form>

@if (ViewBag.bookListSorted != null)
{
    <ul>
        @foreach (var book in (List<Book>)ViewBag.bookListSorted)
        {
            <li>@book.Title</li>
        }
    </ul>
}

