@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Admin - Books";
}
    <h5>Add new author</h5>
<form method="post" asp-controller="Admin" asp-action="CreateBook">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input type="text" class="form-control" name="title">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Description</label>
        <input type="text" class="form-control" name="description">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">ISBN</label>
        <input type="text" class="form-control" name="isbn">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Image Path</label>
        <input type="text" class="form-control" name="imgpath">
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Author firstname</label>  @* CLEAN SEARCH STRING*@
        <input type="text" class="form-control" name="authorFirstName">
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Author lastname</label>  @* CLEAN SEARCH STRING*@
        <input type="text" class="form-control" name="authorLastName">
    </div>

    <div class="mb-3">
        <select class="form-select" aria-label="Choose genre" name="genreSelect" id="genre-dropdown">
            <option selected>Choose genre</option>
            @foreach (var genre in (List<Genre>)ViewBag.genreList)
            {
                <option value="@genre.Id">@genre.Name</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Add book</button>
</form>

<br /> <hr /> <br />
