@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Admin";
}

<!-- Chart -->
<div class="col-12 mx-auto" style="height: 480px;">
    <canvas id="myChart"></canvas>
</div>


<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/chart.js"></script>
