
@{
    ViewData["Title"] = "Books";
}
<link rel="stylesheet" href="~/css/bookview.css" asp-append-version="true" />

<h3 class="page-title">All books</h3>
<hr />
@if (ViewBag.bookListSorted != null)
{
  <div class="row row-cols-1 row-cols-md-5 g-4">
    
    @foreach (var book in (List<Book>)ViewBag.bookListSorted)
    {
       <div class="col">
                <div class="card h-100" id="book-card">
                <img src="@book.Imagepath" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">@book.Title</h5>
                    <p class="card-text">@book.Description</p>
                </div>
                <div class="card-footer">
                        <small class="text-body-secondary">Created: @book.Created.ToString("yy-MM-dd")</small>
                </div>
            </div>
        </div>  
    }
</div>  
}
