@{
    ViewData["Title"] = "Bookcard";
}
<link rel="stylesheet" href="~/css/bookcard.css" asp-append-version="true" />
<div class="card">
    <h1>"Title"</h1>
    <div class="infobox">
        <h2>Author:</h2>
        <h4>"Example.""</h4>
        <h2>Description:</h2>
        <h4>"Example.""</h4>
    </div>
    <img src="/images/admin.png" alt="error" style="width: 15%; margin-right: auto; margin-left: auto;">
    <div class="infobox">
        <h2><a class="ratingBAD">Rating: "1 / 5"</a></h2>
        <h2><a class="review">(if)Submit / Update / Delete" Review</a></h2>
    </div>
</div>
