<div class="footercontent">
            <h3>Company</h3>
            <h3>Socials</h3>
            <h3>Contact us</h3>
            <div>
                <p></p>
                <p>We provide a review service of books and the ability to submit books to be reviewed. Make sure to swipe the right way on tinder!</p>
            </div>
            <div>
                <p></p>
                <a href="#"><img src="/images/facebook.png" alt="error" style="width: 7%;"></a>
                <a href="#"><img src="/images/twitter.png" alt="error" style="width: 7%;"></a>
                <a href="#"><img src="/images/instagram.jpg" alt="error" style="width: 7%;"></a>
                <a href="#"><img src="/images/tinder.png" alt="error" style="width: 7%;"></a>
            </div>
            <div>
                <p></p>
                <p>Adress: Regeringsgatan 74b Stockholm Sweden</p>
                <p>Email: BudgetCoolbooks@wecare.com</p>
                <p>Tele: 0501-965 42 23</p>
            </div>
        </div>