html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
footer {
    background-color: gray;
    color: white;
    padding: 50px;
    bottom: 0;
    width: 100%;
    cursor: default;
}
.footercontent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}